.Toolbar {
  height: 25px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: var(--black-025);*/
  color: hsla(0, 0%, 100%, 0.7);
  background-color: #24292e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  box-shadow: 0 2px 0 rgba(12, 13, 14, 0.15);
  z-index: 5050;
  border-top: 3px solid #f48024;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }

  .Toolbar {
    height: 56px;
  }
}
