.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: inline-block;
  
  color: var(--black-600);
  padding: 6px 16px;
  border-radius: 1000px;
}

.NavigationItem a {
  color: var(--black-600);
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a.active,
.NavigationItem a.active {
  /*background-color: beige; #f48024*/
  background-size: 4px;
  color: black;
  font-weight: bold;
  border-bottom: 3px solid red;
}

@media (min-wdth: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
}

@media only screen and (min-width: 300px) {
}
@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 500px) {
  .NavigationItem a:hover,
  .NavigationItem a.active,
  .NavigationItem a.active {
    background-size: 4px;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid red;
  }
}
@media only screen and (min-width: 600px) {
  .NavigationItem a:hover,
  .NavigationItem a.active,
  .NavigationItem a.active {
    background-size: 4px;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid red;
  }
}
