.Home{

}



.topcolumn1 {
  float: left;
  width: 75%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}
.topcolumn2 {
  float: left;
  width: 25%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.toprow:after {
  content: "";
  display: table;
  clear: both;
}

.midcolumn1 {
  float: left;
  width: 30%;
  padding: 10px;
  height: auto; /*300px Should be removed. Only for demonstration */
}

.midcolumn2 {
  float: left;
  width: 70%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}